---
import { transporter } from "@/utilities/helpers/emailTransporter";
//@ts-ignore
const role = Astro.locals?.user?.user?.role;
//@ts-ignore
const isLoggedIn = Astro.locals?.isLoggedIn;

const otpVerified = Boolean(Astro.cookies.get("otp-verified")?.value);

console.log(role)
if (role) {
  //add a flag to detect otp confirmation
  if (!otpVerified) {
    if (isLoggedIn && role === "operator") {
      //send otp to admin
      const otp = Math.floor(1000 + Math.random() * 9000); // Generate 4 digit OTP

      // Send mail with defined transport object
      let info = await transporter.sendMail({
        from: `"POL RFX." <${process.env.MAIL_USERNAME}>`, // Sender address
        to: `luchidan63@gmail.com`, // admin email addresses receivers
        subject: "Approve Sign-in", // Subject line
        text: `Your Sign-in OTP is ${otp}`, // Plain text body
        html: `
            <div style="font-family: Arial, sans-serif; text-align: center; padding: 20px; max-width: 600px; margin: auto; border: 1px solid #ddd; border-radius: 8px;">
                <h1 style="color: #333; font-size: 24px;">Approve Sign-in</h1>
                <p style="color: #555; font-size: 16px; margin: 20px 0;">Approve an operator account sign-in with the one-time pin (OTP) below:</p>
                <div style="background-color: #f8f8f8; padding: 10px; border-radius: 5px; margin: 20px 0;">
                    <h3 style="font-size: 20px; font-weight: bold; color: #007bff;">${otp}</h3>
                </div>
                <p style="color: #555; font-size: 14px;">Keep this code safe. It's valid for 15 minutes.</p>
            </div>
            `, // HTML body content
      });

      Astro.cookies.set("otp-type", "approve-sign-in");
      // Save OTP in cookies with a TTL of 15 minutes
      Astro.cookies.set("otp", JSON.stringify(otp), {
        path: "/",
        maxAge: 60 * 15,
        httpOnly: true,
      });
      if (info?.messageId) {
        return Astro.redirect(`/auth/confirm-otp`, 302);
      }
    }
  };
  return Astro.redirect(`/u/${role}`, 302);
}

if (!isLoggedIn || !role) {
  return Astro.redirect("/auth/login", 302);
}
---
