---
import { Button } from "../../components/ui/react/button";
import AuthLayout from "../../layouts/AuthLayout.astro";
import { Input } from "../../components/ui/react/input";
---

<AuthLayout title="Onboarding">
  <form
    class="flex flex-col w-full h-full"
    slot="auth-slot"
    method="post"
    action="/api/auth/onboarding"
  >
    <h1 class="font-semibold text-3xl my-6">Onboarding</h1>
    
    <p class="text text-slate-500">
                    Enter your details to get started on Pillar Bids. 
    </p>
    <p class="text-xs my-2 text-slate-500">
                   Ensure your information are accurate. They can't be changed.
                </p>
    <div class="w-full flex flex-col my-12 items-center mx-auto">
      <Input
        type="text"
        placeholder="Firstname"
        name="firstname"
        className="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-2/3 my-4"
      />
      <Input
        type="text"
        placeholder="Lastname"
        name="lastname"
        className="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-2/3 my-4"
      />
      <Input
        type="tel"
        placeholder="Phone number"
        name="phone"
        maxLength={11}
        minLength={11}
        className="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-2/3 my-4"
      />
    </div>
    <div class="flex justify-center">
      <Button className="w-2/3 bg-primary">Sign up</Button>
    </div>
  </form>
</AuthLayout>