---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Text from "@/components/Text.astro";
import { DataTable } from "@/components/ui/react/data-table";
import {BidFormSheet} from "@/components/ui/react/bid-form-sheet"
---

<DashboardLayout title="Bids">
  <div
    class="flex flex-col bg-slate-100 dark:bg-natural gap-x-4 ml-24 w-[calc(100%-7rem)] p-8 mt-24 mb-8 h-full rounded-2xl"
  >
    <div class="flex justify-between">
      <Text type="p" content="Bids" className="!font-bold"/>
      <BidFormSheet client:load />
    </div>
    <div class="my-12">
      <DataTable client:load />
    </div>
    
  </div>
</DashboardLayout>
