---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Text from "@/components/Text.astro"
import { Button } from "@/components/ui/react/button";
import {DataTable} from "@/components/ui/react/data-table"

---

<DashboardLayout title="Vendors">
    <div class="flex flex-col bg-slate-100 dark:bg-natural gap-x-4 ml-24 w-[calc(100%-7rem)] p-8 mt-24 mb-8 h-full rounded-2xl">
        <div class="flex justify-between">
            <Text type="p" content="Vendors" className="!font-bold"/>
            <Button size="sm" className="bg-primary">
                Add vendor
            </Button>
        </div>
        <div class="my-12">
            <DataTable client:load/>
        </div>
    </div>
</DashboardLayout>