---
import AuthLayout from "@/layouts/AuthLayout.astro";
import Text from "@/components/Text.astro";
import { Button } from "@/components/ui/react/button";
import { Input } from "@/components/ui/react/input";
import GoogleAuth from "@/components/ui/react/google-auth";
---

<AuthLayout title="Welcome to Pillar Bids">
  <div class="flex justify-end flex-end" slot="auth-slot">
    <a href="/auth/login">
      <p class="">Login</p>
    </a>
  </div>
  <div
    class="flex flex-col h-full justify-center self-center items-center align-middle"
    slot="auth-slot"
  >
    <form
      method="post"
      action="/api/auth/signup"
      class="flex flex-col w-full justify-center self-center items-center align-middle"
      slot="auth-slot"
    >
      <Text type="h4" content="Create an account" />
      <Text
        type="p"
        content="Enter your email below to create your accounts"
        className="muted text-[14px]"
      />
      <Input
        type="email"
        placeholder="Email"
        name="email"
        className="flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-2/3 my-4"
      />
      <Input
        type="password"
        placeholder="Password"
        name="password"
        className="flex h-9 rounded-md border border-input bg-transparent px-3 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-2/3 mb-4"
      />
      <Button className="w-2/3 bg-primary">Signup</Button>
    </form>
    <div class="relative my-4">
      <div class="flex items-center mt-4"><span class="w-full"></span></div><div
        class="relative flex justify-center text-xs uppercase"
      >
        <span class="px-2 text-muted-foreground">Or continue with</span>
      </div>
    </div>

    <form
      action="/api/auth/google/google-auth"
      class="flex justify-center w-full"
    >
      <GoogleAuth client:load />
    </form>
  </div>
</AuthLayout>
